
$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
$primary:#733FC8;
$success: #49556B;
$dark: #18202D;
$secondary: #EDF2F8;

.fondo-card{
    
}

.d-flex img{
    width: 40px;
}
@import "../node_modules/bootstrap/scss/bootstrap";
